// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/chat';
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'global/combat';

/* Styles limited to sheets */
.pokerole {
  @import 'components/forms';
  @import 'components/sheets';
  @import 'components/items';
  @import 'components/effects';
  @import 'components/advancement';
}
