<ol class="items-list">
  {{#each moves as |moves rank|}}
    <li class="item flexrow items-header">
      <div class="item-name">{{rank}} rank</div>
      <div>Type/Category</div>
      <div class="flex-small">Power</div>
      <div class="flex-small">STAB?</div>
      <div>Accuracy Mod</div>
      <div>Target</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="move" data-rank="{{rank}}"><i class="fas fa-plus"></i>Add</a>
      </div>
    </li>
    {{#each moves as |item id|}}
      <li class="item flexrow" data-item-id="{{item.data._id}}">
        <div class="item-name flexrow">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.data.img}}" title="{{itemdata.data.name}}" width="30" height="30"/></a>
          </div>
          <h4 class="item-name">{{item.data.name}}</h4>
          <div class="item-prop">{{item.locType}} ({{item.locCategory}})</div>
          <div class="item-prop flex-small">{{item.data.system.power}}</div>
          {{#if item.data.system.stab}}
          <div class="item-prop flex-small" title="yes">✓</div>
          {{else}}
          <div class="item-prop flex-small" title="no">-</div>
          {{/if}}
          <div class="item-prop">{{item.data.system.accMod1}}+{{item.data.system.accMod2}}</div>
          <div class="item-prop">{{item.locTarget}}</div>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol>
