<div class="combat-resources">
  <div class="action-count">
    <label for="system.actionCount.value">Action: </label>
    <div class="input-group">
      <input type="text" name="system.actionCount.value" value="{{system.actionCount.value}}" data-dtype="Number">
      <span> / {{system.actionCount.max}}</span>
    </div>
    <button type="button" title="Increment action count" class="increment-action-num" {{#unless hasAvailableActions}}disabled{{/unless}}>
      <i class="fas fa-plus"></i><label>Increase</label>
    </button>
  </div>

  <div class="clash-evade">
    <button type="button" class="toggle-can-clash {{#unless system.canClash}}translucent{{/unless}}">
      <i class="{{#unless system.canClash}}fas fa-circle-xmark{{else}}fa-regular fa-circle{{/unless}}"></i>
      <label>Clash</label>
    </button>
    <button type="button" class="toggle-can-evade {{#unless system.canEvade}}translucent{{/unless}}">
      <i class="{{#unless system.canEvade}}fas fa-circle-xmark{{else}}fa-regular fa-circle{{/unless}}"></i>
      <label>Evade</label>
    </button>
  </div>

  <button type="button" title="Reset resources" class="reset-round-based-resources">Reset</button>
</div>

<ol class="items-list">
  {{#each moves as |moves key|}}
    <li class="item flexrow items-header{{#if moves.hidden}} translucent{{/if}}">
      <a class="item-name toggle-group" data-group="{{key}}">{{moves.groupName}}</a>
      <div>Type/Category</div>
      <div>Accuracy Pool</div>
      <div>Damage Pool</div>
      <div>Target</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create move" data-type="move" data-rank="{{key}}"><i class="fas fa-plus"></i>Add</a>
      </div>
    </li>
    <li>
      <ul class="inner{{#if moves.hidden}} items-hidden{{/if}} list-{{key}}">
        {{#each moves.moveList as |item id|}}
        <li class="item flexrow {{#unless item.usable}}translucent{{/unless}}" data-item-id="{{item.data._id}}">
          <div class="item-name flexrow">
            <div class="item-image move-image">
              <a class="rollable" data-roll-type="item"><img src="{{item.data.img}}" title="{{itemdata.data.name}}" width="30" height="30"/></a>
            </div>
            <div class="item-name">
            {{#if item.data.system.learned}}
            <a class="move-toggle-used" title="{{localize 'POKEROLE.MoveToggleUsed'}}">
              <i class="{{#if item.data.system.usedInRound}}fas fa-circle-xmark{{else}}fa-regular fa-circle{{/if}}"></i>
            </a>
            {{/if}}
            <h4 {{#if item.data.system.effect}}data-tooltip="{{item.data.system.effect}}"{{/if}}
              {{#if item.disabled}}class="strikethrough"{{/if}}>{{item.data.name}}</h4>
            </div>
            <div class="item-prop">{{item.locType}} ({{item.locCategory}})</div>
            <div class="item-prop">{{item.data.system.accMod1}}{{#if item.data.system.accMod2}}+{{item.data.system.accMod2}}{{/if}} ({{item.accuracyPool}})</div>
            
            <div class="item-prop">
                {{#if item.dmgPool}}{{item.data.system.dmgMod}}{{/if}}{{#if item.data.system.power}}+{{item.data.system.power}}{{/if}}
                {{#if item.dmgPool}}({{item.dmgPool}}){{/if}}
                {{#unless item.dmgPool}}-{{/unless}}
            </div>
            <div class="item-prop">{{item.locTarget}}</div>
          </div>
          <div class="item-controls">
            {{#unless item.data.system.attributes.maneuver}}
            <a class="move-toggle-learned" title="{{localize 'POKEROLE.MoveToggle'}}">
              <i class="fas {{#if item.data.system.learned}}fa-times{{else}}fa-check{{/if}}"></i>
            </a>
            {{/unless}}
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
      </ul>
    </li>
  {{/each}}
</ol>
