.combat-action-counter, .combat-clash, .combat-evade {
  flex: 0;
}

.combat-action-counter {
  font-size: 0.75rem;
  min-width: 25px;
}

.combat-clash, .combat-evade {
  width: fit-content;
  margin-right: 1px;
  color: var(--color-text-dark-5);

  &.active {
    color: var(--color-text-light-1);
  }
}

.combat-evade {
  margin-right: 6px;
}