<form class="pokerole actor-settings">
  <div class="form-group">
    <label for="system.baseHp">Base HP</label>
    <input type="number" name="system.baseHp" value="{{baseHp}}" min="0" max="99" data-dtype="Number"/>
  </div>
  <div class="form-group">
    <label for="system.hasThirdType">Triple Typing</label>
      <input type="checkbox" name="system.hasThirdType" value="{{hasThirdType}}" data-dtype="Boolean"
        {{#if hasThirdType}}checked{{/if}}
      />
  </div>
  <div class="form-group">
    <label for="system.customInitiativeMod">Custom Initiative Bonus</label>
    <input type="number" name="system.customInitiativeMod" value="{{customInitiativeMod}}" data-dtype="Number"/>
  </div>
  <div class="form-group">
    <label for="system.recommendedRank">Recommended Rank</label>
    <select name="system.recommendedRank">
      {{selectOptions ranks selected=recommendedRank}}
    </select>
  </div>
  <div class="form-group">
    <label for="system.source">Source</label>
    <input type="text" name="system.source" value="{{source}}" data-dtype="String"/>
  </div>
</form>
