<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{#unless limitedPermissions}}
    <div class="horizontal-line"></div>
    {{/unless}}

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <div class="header-top">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        </h1>

        {{#unless limitedPermissions}}
        <div {{#if system.hasThirdType}}class="sidedata-thirdtype"{{else}}class="sidedata"{{/if}}>
          <div class="active-ability">
            <label for="system.activeAbility" class="resource-label">Ability</label>
            <select name="system.activeAbility" value="{{system.activeAbility}}" data-dtype="String" class="active-ability" data-tooltip="{{activeAbilityDescription}}">
              {{selectOptions abilitiesSelect selected=system.activeAbility}}
            </select>
          </div>
          {{/unless}}

          <div class="types">
            <label for="system.type1" class="resource-label">Type</label>
            <div class="type">
              <select name="system.type1" value="{{system.type1}}" data-dtype="String" class="type-select">
                {{selectOptions types selected=system.type1}}
              </select>
            </div>

            <div class="type">
              <select name="system.type2" value="{{system.type2}}" data-dtype="String" class="type-select">
                {{selectOptions types selected=system.type2}}
              </select>
            </div>

            {{#if system.hasThirdType}}
            <div class="type">
              <select name="system.type3" value="{{system.type3}}" data-dtype="String" class="type-select">
                {{selectOptions types selected=system.type3}}
              </select>
            </div>
            {{/if}}
          </div>
        </div>
      </div>

      {{#unless limitedPermissions}}
      <div class="resources flexrow">
        <div class="resource">
          <label for="system.hp.value" class="resource-label">HP</label>
          <div class="resource-content flex-center flex-between">
            <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" />
            <span> / {{ system.hp.max }}</span>
          </div>
        </div>

        <div class="resource">
          <label for="system.will.value" class="resource-label rollable" data-roll-attribute="will"
            data-label="Will">Will</label>
          <div class="resource-content flex-center flex-between">
            <input type="text" name="system.will.value" value="{{system.will.value}}" data-dtype="Number" />
            <span> / {{ system.will.max }}</span>
          </div>
        </div>

        <div class="resource large">
          <label for="system.rank" class="resource-label">Rank</label>
          <select class="rank-select" name="system.rank" value="{{system.rank}}" data-dtype="String"
            class="rank-select">
            {{selectOptions ranks selected=system.rank}}
          </select>
        </div>

      </div>
      {{/unless}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#unless limitedPermissions}}
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="items">Inventory</a>
    <a class="item" data-tab="moves">Moves</a>
    <a class="item" data-tab="effects">Effects</a>
    {{/unless}}
    <a class="item" data-tab="biography">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{#if recoveryMode}}
    <div style="color: red;">
      <strong>RECOVERY MODE</strong>
      <p>Custom effects are disabled. Please fix potential errors and disable recovery mode in settings.</p>
      <hr>
    </div>
    {{/if}}

    {{!-- Stats Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <section class="grid grid-3col">

        <div class="attribute-col">
          <div class="main-attributes">
            {{#each system.attributes as |attribute key|}}
            <div class="attribute">
              <label for="system.attributes.{{key}}.value" class="rollable resource-label flexlarge align-left"
                data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
              <input type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
                name="system.attributes.{{key}}.value" value="{{attribute.value}}" {{disabled attribute.overridden}}
                data-dtype="Number" />
              <span> / </span>
              <input type="text" class="value-input" name="system.attributes.{{key}}.max" value="{{attribute.max}}"
                data-dtype="Number" />
            </div>
            {{/each}}
          </div>

          <div class="social">
            {{#each system.social as |attribute key|}}
            <div class="attribute" data-kind="social.{{key}}">
              <label for="system.social.{{key}}.value" class="rollable resource-label flexlarge align-left"
                data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
              <input type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
                name="system.social.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" {{disabled
                attribute.overridden}} />
              <span> / </span>
              <input type="text" class="value-input" name="system.social.{{key}}.max" value="{{attribute.max}}"
                data-dtype="Number" />
            </div>
            {{/each}}
          </div>

          <div class="extra-attributes">
            {{#each system.extra as |attribute key|}}
            <div class="attribute">
              <label for="system.extra.{{key}}.value" class="rollable resource-label flexlarge align-left"
                data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>

              {{#if attribute.custom}}
              <a class="delete-value-button" title="Delete attribute" data-attribute-key="{{key}}">
                <i class="fas fa-trash"></i>
              </a>
              {{/if}}

              <input type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
                name="system.extra.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" {{disabled
                attribute.overridden}} />
              <span> / </span>
              <input type="text" class="value-input" name="system.extra.{{key}}.max" value="{{attribute.max}}"
                data-dtype="Number" />
            </div>
            {{/each}}
            <div class="add-custom-value custom-attribute">
              <input type="text" class="add-value-input" placeholder="Add attribute..." data-dtype="Number" />
              <a class="add-value-button" title="Create attribute"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>

        <div class="middle">
          <div class="skills">
            {{#each system.skills as |skill key|}}
            <div class="attribute">
              <label for="system.skills.{{key}}.value" class="rollable resource-label flexlarge align-left"
                data-roll-skill="{{key}}">{{skill.label}}</label>

              {{#if skill.custom}}
              <a class="delete-value-button" title="Delete skill" data-skill-key="{{key}}">
                <i class="fas fa-trash"></i>
              </a>
              {{/if}}

              <input type="text" class="value-input {{#if skill.overridden}}overridden{{/if}}"
                name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" {{disabled
                skill.overridden}} />
              <span> / </span>
              <input type="text" class="value-input" name="system.skills.{{key}}.max" value="{{skill.max}}"
                data-dtype="Number" readonly />
            </div>
            {{/each}}
            <div class="add-custom-value custom-skill">
              <input type="text" class="add-value-input" placeholder="Add skill..." data-dtype="Number" />
              <a class="add-value-button" title="Create skill"><i class="fas fa-plus"></i></a>
            </div>
          </div>

          <ul class="matchups">
            {{#if matchups.weak}}
            <li>
              <h4>Weaknesses</h4>
              <span>{{ matchups.weak }}</span>
            </li>
            {{/if}}
            {{#if matchups.doubleWeak}}
            <li>
              <h4>Double weaknesses</h4>
              <span>{{ matchups.doubleWeak }}</span>
            </li>
            {{/if}}
            {{#if matchups.tripleWeak}}
              <li>
                <h4>Triple weaknesses</h4>
                <span>{{ matchups.tripleWeak }}</span>
              </li>
            {{/if}}
            {{#if matchups.resist}}
            <li>
              <h4>Resistances</h4>
              <span>{{ matchups.resist }}</span>
            </li>
            {{/if}}
            {{#if matchups.doubleResist}}
            <li>
              <h4>Double resistances</h4>
              <span>{{ matchups.doubleResist }}</span>
            </li>
            {{/if}}
            {{#if matchups.tripleResist}}
              <li>
                <h4>Triple resistances</h4>
                <span>{{ matchups.tripleResist }}</span>
              </li>
            {{/if}}
            {{#if matchups.immune}}
            <li>
              <h4>Immunities</h4>
              <span>{{ matchups.immune }}</span>
            </li>
            {{/if}}
          </ul>
        </div>

        <aside>
          <div class="nature-box">
            <div class="attribute">
              <label for="system.personality" class="resource-label flexlarge align-left">Nature</label>
              <select name="system.personality" value="{{system.personality}}" data-dtype="String" class="large">
                {{selectOptions natures selected=system.personality}}
              </select>
            </div>
            <div class="attribute">
              <label for="system.confidence" class="resource-label flexlarge align-left">Confidence</label>
              <input type="text" name="system.confidence" value="{{system.confidence}}" data-dtype="Number" />
            </div>
          </div>

          <div class="battles-box">
            <div class="attribute">
              <label for="system.battles" class="resource-label flexlarge align-left">No. of Battles</label>
              <input type="text" name="system.battles" value="{{system.battles}}" data-dtype="Number" />
            </div>
            <div class="attribute">
              <label for="system.victories" class="resource-label flexlarge align-left">Victories</label>
              <input type="text" name="system.victories" value="{{system.victories}}" data-dtype="Number" />
            </div>
          </div>

          <div class="derived">
            <h3 class="section-header centered">Quick References</h3>
            <div class="derived-attributes">
              {{#each system.derived as |attribute key|}}
              <div class="attribute">
                <label for="system.derived.{{key}}.value" class="rollable resource-label flexlarge align-left"
                  data-roll-attribute="{{key}}" data-roll-label="{{attribute.label}}">{{attribute.label}}</label>
                <input type="text" class="{{#if attribute.overridden}}overridden{{/if}}" value="{{attribute.value}}"
                  data-dtype="Number" disabled />
              </div>
              {{/each}}
            </div>
          </div>
        </aside>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography flexrow" data-group="primary" data-tab="biography">
      <aside class="species-data">
        <div class="pokedex-number-name">
            <span class="number-sign">#</span>
            <input type="text" class="pokedex-num" name="system.pokedexId" value="{{system.pokedexId}}" placeholder="0"
              data-dtype="Number" />
            <input type="text" name="system.species" value="{{system.species}}" placeholder="Species"
              data-dtype="String" />
          {{#unless limitedPermissions}}
          <a class="settings-button"><i class="fas fa-cogs"></i></a>
          {{/unless}}
        </div>
        <ul class="pokedex">
          <li>
            <h4>Category</h4>
            <input name="system.pokedexCategory" value="{{system.pokedexCategory}}" placeholder="Pokédex Category">
          </li>
          <li>
            <h4>Description</h4>
            <textarea class="pokedex-description"
              name="system.pokedexDescription">{{ system.pokedexDescription }}</textarea>
          </li>
          <li class="inner-list">
            <ul>
              <li>
                <h4>Height</h4>
                <span><input class="small" name="system.height" value="{{system.height}}"> m / {{heightImperial}}
                  ft</span>
              </li>
              <li>
                <h4>Weight</h4>
                <span><input class="small" name="system.weight" value="{{system.weight}}"> kg / {{weightImperial}}
                  lbs</span>
              </li>
            </ul>
          </li>
        </ul>

        {{#unless limitedPermissions}}
        <div class="abilities">
          <h4>
            Abilities
            <a class="item-control item-create" title="Create ability" data-type="ability"><i
                class="fas fa-plus"></i></a>
          </h4>
          <ul>
            {{#each abilities as |item index|}}
            <li class="item" data-item-id="{{item.data._id}}">
              <h5>
                <a class="rollable" data-roll-type="item">{{item.data.name}}</a>
                <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
              </h5>
              <p>{{{item.data.system.description}}}</p>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/unless}}

      </aside>

      {{#unless limitedPermissions}}
      {{editor biographyHtml target="system.biography" button=true owner=owner editable=editable engine="prosemirror"}}
      {{/unless}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/pokerole/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Moves Tab --}}
    <div class="tab moves" data-group="primary" data-tab="moves">
      {{> "systems/pokerole/templates/actor/parts/actor-moves.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/pokerole/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>