<div class="pokerole ailments-settings">
  <h2>Paralysis</h2>
  <div class="form-group">
    <label>Dexterity Modifier</label>
    <div class="form-fields">
      <input type="number" name="paralysisConst" value="{{paralysisConst}}" min="0" max="3" data-dtype="Number"/>
    </div>
  </div>
  <p class="notes">Amount of Dexterity reduced by ailment (Default: 2)</p>

  <h2>Burn</h2>
  <div class="form-group">
    <label>Strength Modifier</label>
    <div class="form-fields">
      <input type="number" name="burnConst" value="{{burnConst}}" min="0" max="3" data-dtype="Number"/>
    </div>
  </div>
  <p class="notes">Amount of Strength reduced by ailment (Default: 0)</p>

  <h2>Frozen</h2>
  <div class="form-group">
    <label>Special Modifier</label>
    <div class="form-fields">
      <input type="number" name="frozenConst" value="{{frozenConst}}" min="0" max="3" data-dtype="Number"/>
    </div>
  </div>
  <p class="notes">Amount of Special reduced by ailment (Default: 0)</p>
</div>
