<form>
  {{#if baseFormula}}
  <div class="form-group">
    <label>Base Formula</label>
    <input type="text" value="{{baseFormula}}" disabled/>
  </div>
  {{/if}}
  {{#if accuracyMod}}
  <div class="form-group">
    <label>Accuracy Modifier</label>
    <input type="text" value="{{accuracyMod}}" disabled/>
  </div>
  {{/if}}
  {{#if accuracyReduction}}
  <div class="form-group">
    <label>Accuracy Reduction</label>
    <input type="text" value="{{accuracyReduction}}" disabled/>
  </div>
  {{/if}}

  {{#if enablePainPenalty}}
  <div class="form-group">
    <label>Pain Penalization</label>
    <select name="painPenalty">
      {{selectOptions painPenalties selected=painPenalty}}
     </select>
  </div>
  {{/if}}

  {{#if confusionPenalty}}
  <div class="form-group">
    <label>Confusion (-1 success)</label>
    <input type="checkbox" name="confusionPenalty" checked/>
  </div>
  {{/if}}

  <div class="form-group">
    <label for="requiredSuccesses">Required Successes</label>
    <input type="number" name="requiredSuccesses" value="{{requiredSuccesses}}"/>
  </div>

  <hr>

  <div class="form-group" title="Increases the number of rolled dice">
      <label>Dice Pool Modifier</label>
      <input type="number" name="poolBonus" value="0"/>
  </div>
  <div class="form-group" title="Added after the dice are rolled">
    <label>Success Count Modifier</label>
    <input type="number" name="constantBonus" value="0"/>
  </div>
</form>
