{{!-- Item (Gear) Description Tab --}}
<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  {{> pokerole.multi-editor editing=editingDescription html=descriptionHtml key="system.description" editable=editable}}
</section>
