{{!-- Effect Description Tab --}}
<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  {{editor descriptionHtml target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
</section>
