// Actor Sheet Specific Styles

// Tab styles
.pokerole.actor.sheet {
  
  // Effects tab
  .tab[data-tab="effects"] {
    display: flex;
    gap: 15px;
    align-items: flex-start;

    .attribute-col {
      max-width: 250px;
      flex: 1;
      gap: 5px;
    }

    .stat-changes {
      flex-direction: column;
      flex: 1;

      &.stat-changes-panel {
        background-color: #3C3C3B;
        border-radius: 10px;
        padding: 7px;
        margin-top: 5px;
      }
    }

    .stat-change-item.pain {
      width: 100%;
    }

    .button-container {
      margin-bottom: 3px;

      button.set-button {
        background-color: white;
      }
    }

    .stat-change-label {
      color: white;
      width: 60px;
      text-align: center;
      font-size: 1.1em;
    }

    .accuracy-label {
      color: white;
      width: 60px;
      text-align: center;
      font-size: 1.1em;
      flex: 1px;
    }

    .conditions-panel {
      flex: 1;
      min-width: 375px;
      background-color: #3C3C3B;
      border-radius: 10px;
      padding: 7px;
      margin-top: 5px;

      .section-header {
        color: white;
      }
    }

    .item-image.ailment {
      background-color: var(--ailment-tint);
    }
  }

  // Moves tab
  .tab[data-tab="moves"] {
    background-color: #3C3C3B;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;

    .combat-resources {
      label {
        color: white;
      }

      input {
        background-color: white;
      }

      span {
        color: white;
      }

      button {
        background-color: white;
      }
    }

    .Geoboxer {
      display: flex;
      gap: 6px;
      flex-direction: column;
    }

    .items-list.move-group {
      padding: 5px;
      border-radius: 10px;
      background: white;

      .items-header {
        border-radius: 10px;

        .item-name {
          flex: 1 1 5%;
        }
      }
    }
  }

  // Items tab
  .tab[data-tab="items"] {
    background-color: #3C3C3B;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;

    .inventory-header {
      display: flex;
      justify-content: space-between;

      .money-container {
        img {
          border: 0px;
        }

        input {
          background-color: white;
        }
      }

      .create-item-link {
        color: white;
        font-size: 14px;
      }

      .filter-button {
        background-color: white;
      }

      .filter-icon {
        color: white;
      }
    }

    .Geoboxer {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .items-list.pocket {
      padding: 5px;
      border-radius: 10px;
      background: white;

      .items-header {
        border-radius: 10px;
        gap: 10px;

        .item-name {
          height: 80%;
          flex: 1;
        }
      }
    }

    .items-list.inventory {
      padding: 5px;
      border-radius: 10px;
      background: white;
      height: 78px;
    }

    img {
      border: 0px;
    }
  }

  // Attributes tab
  .tab[data-tab="attributes"] {
    .recovery-mode-warning {
      color: red;
    }

    .attribute-star {
      width: 22px;
      height: 22px;
      border: 0px;
      margin: 0px 2px 0px 0px;
    }

    .matchups {
      img {
        border: 0px;
      }

      li {
        &.triple-weak {
          background-image: url('systems/pokerole/images/icons/matchups/X4.svg');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: top right;
        }

        &.double-weak {
          background-image: url('systems/pokerole/images/icons/matchups/X2.svg');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: top right;
        }

        &.single-resist {
          background-image: url('systems/pokerole/images/icons/matchups/1-2.svg');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: top right;
        }

        &.double-resist {
          background-image: url('systems/pokerole/images/icons/matchups/1-4.svg');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: top right;
        }

        &.immune {
          background-image: url('systems/pokerole/images/icons/matchups/X0.svg');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: top right;
        }
      }
    }

    .social-skills {
      display: flex;
      gap: 5px;
      flex-direction: column;
    }

    .button-container {
      margin-bottom: 6px;
      margin-top: 3px;
    }
  }

  // Header styles
  .character-header {
    .main-header {
      display: flex;
      justify-content: center;
      background-color: var(--sheet-color-4);
    }

    .side-slot {
      &.up-left,
      &.down-left {
        background: var(--sheet-color-1);
      }

      .internal {
        background: var(--sheet-color-3);
      }

      .rank-number {
        background: var(--sheet-color-1);
        height: 100%;
        width: 50px;
        clip-path: polygon(0px 0%, 102% 0%, calc(100% - 30px) 102%, 0% 102%);
        display: flex;
        justify-content: flex-start;

        .rank-number-inner {
          background: var(--sheet-color-2);
          clip-path: polygon(0px 0%, 102% 0%, calc(100% - 30px) 102%, 0% 102%);
          width: 45px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 5px;
          color: white;
          font-size: 20px;
        }
      }
    }

    .info-container {
      background: var(--sheet-color-2);

      .pokedex-info {
        display: flex;
        align-items: center;
        gap: 1px;

        input {
          color: white;
          background: transparent;
          text-align: center;
          padding: 2px 0px;
          max-width: 185px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        img {
          width: 22px;
          height: 22px;
          border: 0px;
        }
      }
    }

    .type-selector {
      background: var(--type-color-1);

      img {
        height: 100%;
        border: 0px;
      }
    }
  }
}
