// Actor Sheet Specific Styles

// Tab styles
&.actor.sheet {
  .window-content {
    overflow-y: auto;
  }

  // variables
  --color-pkmn-red: #A21C1C;
  --color-pkmn-outline: #433727;
  --color-pkmn-field-back: #DAECF9; // white

  // Header styles
  .character-header {
    display: block;
    width: 100%;
    background-color: var(--color-pkmn-red);

    .main-header {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 100px;
      padding: 0px 8px;

      .side-containers {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1;
        min-width: 256px;

        .side-slot {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex: 0 1 auto;
          height: 50px;
          min-width: 256px;

          &.up-left,
          &.down-left {
            background: var(--color-pkmn-outline);
          }

          &.up-left {
            padding: 3px 3px 2px 3px;
            clip-path: polygon(0% 0%, 100% 0%, calc(100% - 30px) 101%, 0% 101%);
            background: var(--color-pkmn-outline);
            
            > .internal {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center;
              flex: 1;
              height: 45px;
              min-width: 250px;
              padding: 0px 30px 0px 0px;
              background: var(--color-pkmn-field-back);
              clip-path: polygon(0% 0%, calc(100% - 3px) 0%, calc(100% - 30px) 102%, 0% 102%);

              input[name="name"] {
                flex: 1;
                min-width: 170px;
                border: none;
                padding: 1px 3px;
                background: transparent;
                font-size: 22px;
                overflow: clip;
                color: black;
              }

              .settings-container {
                background: var(--color-pkmn-outline);
                height: 100%;
                width: 50px;
                clip-path: polygon(0px 0%, 102% 0%, calc( 100% - 30px) 102%, 0% 102%);
                display: flex;
                justify-content: flex-start;
                > .internal {
                  background: var(--color-pkmn-red);
                  clip-path: polygon(0px 0%, 102% 0%, calc( 100% - 30px) 102%, 0% 102%);
                  width: 45px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  padding-left: 5px;
                  color: var(--color-pkmn-field-back);
                  font-size: 20px;
                }
              }
            }
          }

          &.up-right {
            padding: 3px 3px 2px 3px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 101%, calc(30px) 101%);
            background: var(--color-pkmn-outline);
            
            > .internal {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              flex: 1;
              height: 45px;
              min-width: 250px;
              padding: 0px 0px 0px 30px;
              background: var(--color-pkmn-field-back);
              clip-path: polygon(3px 0%, 102% 0%, 102% 102%, calc(30px) 102%);
            }
          }

          &.down-left {
            padding: 2px 3px 3px 3px;
            clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
            
            > .internal {
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              gap: 2px;
              flex: 1;
              height: 45px;
              min-width: 250px;
              clip-path: polygon(0% 0%, calc(100% - 30px) 0%, calc(100% - 3px) 101%, 0% 101%);
            }
          }

          &.down-right {
            padding: 2px 3px 3px 3px;
            clip-path: polygon(30px 0%, 100% 0%, 100% 101%, 0% 101%);
            background: var(--color-pkmn-outline);
            
            > .internal {
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              gap: 2px;
              flex: 1;
              height: 45px;
              min-width: 250px;
              clip-path: polygon(30px 0%, 100% 0%, 100% 101%, 3px 101%);
            }
          }
          .rank-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            flex: 1;
            align-items: center;
            background: var(--color-pkmn-field-back);

            select {
              width: 100%;
              border: none;
              padding: 0px 3px;
              background: transparent;
              color: black;
              font-size: 22px;
            }
          }
          .rank-label-container {
            background: var(--color-pkmn-outline);
            height: 100%;
            width: 75px;
            clip-path: polygon(0px 0%, 102% 0%, 102% 102%, calc(30px) 102%);
            display: flex;
            justify-content: flex-end;
            > .internal {
              background: var(--color-pkmn-red);
              clip-path: polygon(0px 0%, 102% 0%, 102% 102%, calc(30px) 102%);
              height: 100%;
              width: 70px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-left: 15px;
              color: white;
              font-size: 18px;
            }
          }
        }
      }

      .portrait-img {
        height: 100px;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        background-color: #f4f4f43b;
        border-radius: 50%;
        border: unset;
        margin: 0px;

        .profile-img {
          width: 100px;
          height: 100px;
          z-index: 10;
          border: 0px;
          object-fit: contain;
          &[data-action="editImage"] {
            cursor: pointer;
          }
        }
      }
    }

    .info-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 0 1 auto;
      height: 21.5938px;
      min-width: 250px;
      padding: 0px 32px 0px 10px;
      background: var(--sheet-color-2);

      .pokedex-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1px;

        label {
          color: white;
          background: transparent;
          text-align: center;
          padding: 2px 0px;
          max-width: 185px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        input {
          color: white;
          background: transparent;
          text-align: center;
          padding: 2px 0px;
          max-width: 185px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          border: none;
        }

        img {
          width: 22px;
          height: 22px;
          border: 0px;
        }
      }
    }

    .type-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 0 1 auto;
      min-width: 250px;
      height: 21.5938px;

      .type-selector {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 1;
        padding: 0px 12px;
        background: var(--type-color);
        overflow: visible;
        clip-path: polygon(0% 0%, calc(100% - 12.5px) 0%, 100% 101%, 12.5px 101%);

        img {
          width: auto;
          height: 100%;
          flex-shrink: 0;
          border: 0px;
        }

        select, span {
          flex: 1;
          border: none;
          background: var(--type-color);
          color: white;
          font-weight: 400;
          padding: 0px 3px;
          height: unset;
        }
      }
    }

    .rank-display-box {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      background: var(--color-pkmn-outline);
      height: 100%;
      width: 75px;
      clip-path: polygon(0px 0%, 102% 0%, 102% 102%, calc(30px) 102%);
      justify-content: flex-end;

      .rank-display-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background: var(--sheet-color-2);
        clip-path: polygon(0px 0%, 102% 0%, 102% 102%, calc(30px) 102%);
        height: 100%;
        width: 70px;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        color: white;
        font-size: 18px;
      }
    }

    .item-selector-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      flex: 0 1 auto;
      min-width: 250px;
      height: 21.5938px;
      padding: 0px 6px;
      background: var(--color-pkmn-field-back);

      label {
        flex-shrink: 0;
        padding: 3px 10px 3px 17px;
        background: var(--color-pkmn-red);
        color: white;
        height: 100%;
        clip-path: polygon(0px 0%, 100% 0%, calc(100% - 12.5px) 101%, 0% 101%);
        text-align: center;
        width: 84px;
      }

      select {
        flex: 1;
        min-width: 154px;
        height: unset;
        border: none;
        padding: 0px 3px;
        background: var(--color-pkmn-field-back);
        color: black;
      }

      &:nth-child(2) {
        padding-left: 0px;
        label {
          padding-left: 12px;
          width: 77px;
        }
      }
    }

    .rank-icon {
      $rank-icon-border-size: 3px;
      $rank-icon-dimension: 45px;
      width: $rank-icon-dimension;
      height: $rank-icon-dimension;
      border-radius: 50%;
      border: $rank-icon-border-size solid;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -10px;
      z-index: 10;
      position: relative;
      img {
        width: $rank-icon-dimension;
        height: $rank-icon-dimension;
        border: 0px;
        top: -$rank-icon-border-size;
        left: -$rank-icon-border-size;
        position: absolute;
        max-width: unset;
      }
    }

    .sub-header {
      display: flex;
      justify-content: center;
      align-items: center;

      .sub-container {
        display: flex;
        width: 100%;
        max-width: 500px;
        align-items: flex-end;
        justify-content: center;
        
        .hp-container,
        .wp-container {
          display: flex;
          align-items: center;
          width: 40%;
          background: var(--color-pkmn-outline);

          > .internal {
            display: flex;
            align-items: center;
            gap: 3px;
            background: var(--color-pkmn-red);
            width: 100%;
            padding: 0px 3px;
            height: 100%;

            .pp-displayer {
              clip-path: polygon(12px 0%, 100% 0%, calc(100% - 12px) 101%, 0% 101%);
              background: var(--color-pkmn-outline);
              width: 80px;
              input {
                width: 46px;
                text-align: center;
                border: none;
                padding: 2px;
                border-radius: 3px;
                background-color: white;
                color: black;
                border: 0px;
                border-radius: 0;
                clip-path: polygon(12px 0%, 100% 0%, calc(100% - 12px) 100%, 0% 100%);
              }
              label {
                color: white;
                text-align: center;
                font-weight: bold;
                width: 17px;
                padding-left: 4px;
              }
            }
          }
        }
        .hp-container {
          clip-path: polygon(21px 0%, 102% 0%, 102% 102%, 0% 102%);
          padding: 3px 0px 0px 3px;

          > .internal {
            clip-path: polygon(21px 0%, 102% 0%, 102% 102%, 2px 102%);
            padding-right: 20px;
            justify-content: flex-end;
          }
        }
        .wp-container {
          clip-path: polygon(-1% 0%, calc(100% - 21px) 0%, 100% 102%, -1% 102%);
          padding: 3px 3px 0px 0px;

          > .internal {
            clip-path: polygon(-1% 0%, calc(100% - 21px) 0%, calc(100% - 2px) 102%, -1% 102%);
            padding-left: 20px;
            justify-content: flex-start;
          }
        }
      }
    }
  }

  // Attributes tab
  .tab[data-tab="attributes"] {
    &.active {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 10px;
      margin: 10px 0;
      padding: 0;
    }

    .recovery-mode-warning {
      color: red;
    }

    .attribute-star {
      width: 22px;
      height: 22px;
      border: 0px;
      margin: 0px 2px 0px 0px;
    }

    .skills {
      display: flex;
      flex-direction: column;
      gap: 3px;
      background-color: #841722;
      border-radius: 15px;
      padding: 5px;
      height: fit-content;

      .attribute label {
        width: 80px;
      }
    }

    .matchups {
      li.typematch {
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: top right;

        .types {
          display: flex;
          gap: 5px;

          img {
            border: 0px;
          }
        }
      }
    }

    .social-skills {
      display: flex;
      gap: 5px;
      flex-direction: column;
    }

    .button-container {
      margin-bottom: 6px;
      margin-top: 3px;
    }
  }

  // Items tab
  .tab[data-tab="items"] {
    background-color: #3C3C3B;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;

    .inventory-header {
      display: flex;
      justify-content: space-between;

      .money-container {
        img {
          border: 0px;
        }

        input {
          background-color: white;
        }
      }

      .create-item-link {
        color: white;
        font-size: 14px;
      }

      .filter-button {
        background-color: white;
      }

      .filter-icon {
        color: white;
      }
    }

    .Geoboxer {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .items-list.pocket {
      padding: 5px;
      border-radius: 10px;
      background: white;

      .items-header {
        border-radius: 10px;
        gap: 10px;

        .item-name {
          height: 80%;
          flex: 1;
        }
      }
    }

    .items-list.inventory {
      padding: 5px;
      border-radius: 10px;
      background: white;
      height: 78px;
    }

    img {
      border: 0px;
    }
  }

  // Moves tab
  .tab[data-tab="moves"] {
    background-color: #3C3C3B;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;

    .combat-resources {
      label {
        color: white;
      }

      input {
        background-color: white;
      }

      span {
        color: white;
      }

      button {
        background-color: white;
      }
    }

    .Geoboxer {
      display: flex;
      gap: 6px;
      flex-direction: column;
    }

    .items-list.move-group {
      padding: 5px;
      border-radius: 10px;
      background: white;

      .items-header {
        border-radius: 10px;

        .item-name {
          flex: 1 1 5%;
        }
      }
    }
  }
  
  // Effects tab
  .tab[data-tab="effects"] {
    &.active {
      display: flex;
      gap: 15px;
      align-items: flex-start;
    }

    .attribute-col {
      max-width: 250px;
      flex: 1;
      gap: 5px;
    }

    .stat-changes {
      flex-direction: column;
      flex: 1;

      &.stat-changes-panel {
        background-color: #3C3C3B;
        border-radius: 10px;
        padding: 7px;
        margin-top: 5px;
      }
    }

    .stat-change-item.pain {
      width: 100%;
    }

    .button-container {
      margin-bottom: 3px;

      button.set-button {
        background-color: white;
      }
    }

    .stat-change-label {
      color: white;
      width: 60px;
      text-align: center;
      font-size: 1.1em;
    }

    .accuracy-label {
      color: white;
      width: 60px;
      text-align: center;
      font-size: 1.1em;
      flex: 1px;
    }

    .conditions-panel {
      flex: 1;
      min-width: 375px;
      background-color: #3C3C3B;
      border-radius: 10px;
      padding: 7px;
      margin-top: 5px;

      .section-header {
        color: white;
      }
    }

    .item-image.ailment {
      background-color: var(--ailment-tint);
    }
  }

  // Biography tab
  .tab[data-tab="biography"] {
    &.active {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
