.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #E54733;

  .horizontal-line {
    display: block;
    width: 100%;
    height: 9px;
    position: absolute;
    top: 57px;
    background-color: #AB3E2E;
  }

  .profile-img {
    margin-left: 8px;
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: white;
    z-index: 10;
    object-fit: contain;
  }

  .header-fields {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    gap: 3px;
    z-index: 10;

    input {
      background-color: white;
      border-radius: 20px;
      padding: 0px 10px;
      border: none;
    }
  }

  h1.charname {
    height: 40px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      height: 100%;
      margin: 0;
    }
  }

  .header-top {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }

  .sidedata {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    input, select {
      height: 22px;
    }
  }
  .sidedata-thirdtype {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    input, select {
      height: 22px;
    }
  }

  .active-ability, .types {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;

    select {
      border: none;
      background-color: white;
      border-radius: 20px;
    }
  
    label {
      width: 100px;
      text-align: right;
    }
  }

  .active-ability select {
    width: 157px;
  }
}

.biography, .editor {
  height: 100%;
}

.sheet-tabs {
  flex: 0;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #C34231;
  margin: 0 0 4px 0 !important;
  border: 2px solid #AB3E2E !important;
}

.tabs .item.active {
  text-shadow: 0 0 10px white;
}

&.actor {
  .sheet-header, .sheet-tabs, .sheet-body {
    min-width: 600px;
  }
}

.sheet-header, .sheet-tabs, .sheet-body {
  min-width: 400px;
}

.sheet-body {
  padding: 0 8px;
}

.sheet-body,
.sheet-body .tab.description,
.sheet-body .tab .editor {
   height: 100%;
 }

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
