// Section Header
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: $border-groove;
  font-weight: bold;
  > * {
    font-size: 14px;
    text-align: center;
  }
  .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-tan;

  // Child lists
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item-name {
    flex: 1.1;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
    display: flex;

    h3, h4 {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  .items-header .item-name {
    flex: 1.1 0 30px;
    color: $c-dark;
  }

  // Control Buttons
  .item-controls {
    display: flex;
    flex: 0 0 75px;
    justify-content: flex-end;
    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }

  // Individual Item
  .item {
    align-items: center;
    padding: 0 2px; // to align with the header border
    border-bottom: 1px solid $c-faint;
    &:last-child { border-bottom: none; }
    .item-name {
      color: $c-dark;
      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    }
  }

  .move-image {
    padding: 2px 0;

    img {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  // Section Header
  .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: $border-groove;
    font-weight: bold;
    > * {
      font-size: 12px;
      text-align: center;
    }
    .item-name {
      padding-left: 5px;
      text-align: left;
      // font-size: 16px;
    }
  }
}

.items-list .flex-small {
  flex: 0.35;
}

// Move effects
.effect-group-list {
  margin: 0;
  padding: 0;
  min-width: 470px;

  input, select {
    font-size: 0.76rem;
    height: 23px;
  }

  .effect-list {
    margin: 0;
    padding: 0 0 0 5px;

    li {
      display: flex;
      align-items: center;
      gap: 4px;
      height: 27px;
    }

    .items-header {
      margin-bottom: 0;
      height: 28px;

      .item-prop * {
        flex-grow: 0;
      }
    }

    .label-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 0;
      gap: 2px;

      label {
        font-size: 0.75rem;
        color: black;
      }
    }
  }

  .item-controls {
    display: flex;
    flex: 0;
    gap: 4px;
  }

  .effect-group-create {
    flex-grow: 0;
    flex-basis: 100px;
  }

  .effect-group-add-effect {
    display: flex;
  }

  .small-input {
    width: 45px;
    flex-basis: 45px;
    flex-grow: 0;
  }

  .condition-wrapper {
    gap: 2px;
  }
}