.strikethrough {
  text-decoration: line-through;
}

&.actor .resource {
  background-color: black;
  border-radius: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  font-size: 1.3em;

  input, .rank-select {
    width: 40px;
    background-color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
  }

  .rank-select {
    width: 110px;
    text-align: left;
  }

  &.large {
    flex: 1.35;
  }
}

.resources {
  gap: 10px;
  margin: 10px 0 5px 0;
}

&.actor .resource-label {
  font-weight: bold;
  width: 30px;
  text-transform: uppercase;
}

.attribute, .add-custom-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;

  label {
    width: 100px;
    display: inline-block;
  }

  .value-input, .add-value-button {
    width: 22px;
    height: 22px;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 50%;
  }
}

.attributes .skills {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: #A74D39;
  border-radius: 15px;
  padding: 5px;
  color: white;
  height: fit-content;

  .attribute label {
    width: 80px;
  }
}

.attribute-col {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .main-attributes, .social, .extra-attributes {
    gap: 3px;
    display: flex;
    flex-direction: column;
  }

  .attribute[data-kind="social.tough"] {
    background-color: #F5E28E;
  }

  .attribute[data-kind="social.cool"] {
    background-color: #FBA485;
  }

  .attribute[data-kind="social.beauty"] {
    background-color: #A5BDD9;
  }

  .attribute[data-kind="social.cute"] {
    background-color: #F8AABD;
  }

  .attribute[data-kind="social.clever"] {
    background-color: #A3CF8E;
  }
}

.attribute-col .attribute, .custom-attribute {
  padding: 1px 6px;
  border-radius: 30px;
  border: 3px black solid;
  background-color: #48A49D;
}

.nature-box, .battles-box {
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  margin-bottom: 10px;

  .attribute {
    label {
      color: white;
    }

    input, select {
      background-color: white;
      border-radius: 10px;
      width: 40px;
    }

    input {
      text-align: right;
    }

    select {
      text-align: left;
    }

    select.large {
      width: 90px;
    }
  }
}

.overridden, .attribute .value-input.overridden {
  font-weight: bold;
  background-color: #dadada;
}

.battles-box {
  background-color: #A74D39;
}

.section-header {
  margin: 0.5rem 0;
  color: #A74D39;
  text-transform: uppercase;
  text-align: center;
  border-bottom: none;
  text-align: left;

  &.centered {
    text-align: center;
  }
}

.derived {
  .derived-attributes {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .attribute {
    border: 2px solid black;
    padding: 1px 5px;
    border-radius: 30px;
    background-color: white;

    input {
      width: 20px;
      height: unset;
      text-align: right;
      border-radius: 0;
      background-color: unset;
    }
  }
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.matchups, .pokedex {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;

  li {
    border-radius: 13px;
    border: 3px solid #AB3E2E;
    padding: 3px 5px;
    background-color: white;
    font-size: 0.75rem;

    h4 {
      text-transform: uppercase;
      color: #AB3E2E;
      margin-bottom: 0;
    }
  }

  li.inner-list {
    background-color: #AB3E2E;
    padding: 0;
  }

  .inner-list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 3px;

    li {
      flex: 1;
      background-color: white;
      border: none;

      span {
        margin-left: 5px;
      }
    }
  }

  input, textarea {
    font-family: inherit;
    font-size: inherit; 
    background-color: unset;
    border: none; 
    padding: 0;
    width: 100%;

    &.small {
      width: 35px;
      text-align: right;
    }

    &.pokedex-description {
      height: 76px;
    }
  }

  input {
    border-bottom: 1px solid black;
    border-radius: 0;
  }
}

.matchups, .pokedex, .species-data .pokedex-number-name {
  input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
    background-color: #f3f3f3;
    outline: none;
    box-shadow: none;
  }
}

.biography {
  gap: 10px;
}

.sheet-body .biography .editor {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  height: calc(100% - 5px);
  flex: 1.5;
}

.species-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;


  .pokedex-number-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .pokedex-number-name input {
    border: none;
    background-color: unset;
    font-size: 1.25rem;
    color: #A74D39;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
  }

  .number-sign {
    font-size: 1.25rem;
    color: #A74D39;
  }

  .pokedex-num {
    width: 80px;
    text-align: center;
  }

  .settings-button {
    font-size: 1.1rem;
    color: #A74D39;
  }
}

.abilities {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 5px;

  h4 {
    text-transform: uppercase;
    margin: 3px 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      background-color: white;
      color: black;
      border-radius: 15px;
      padding: 5px;
      font-size: 0.75rem;

      max-height: 150px;
      overflow: hidden;

      // Only show the first non-empty paragraph
      p, p:not(:empty) ~ p {
        display: none;
      }
  
      p:not(:empty) {
        display: block;
      }
    }

    h5 {
      margin: 0;
      font-weight: bold;
      font-size: inherit;
    }
  }
}

.custom-skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.add-custom-value {
  .add-value-input {
    height: 20px;
    border: none;
    border-bottom: 2px solid white;
    background-color: unset;
    border-radius: 0;
    flex: 1;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
  }

  .add-value-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }

  .add-value-button {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);

    i {
      width: 100%;
      height: 100%;
      line-height: 22px;
    }
  }
}

.custom-attribute.add-custom-value {
  .add-value-input {
    color: black;
    border: none;
  }

  .add-value-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.delete-value-button {
  margin-right: 5px;
}

&.item textarea {
  font-family: inherit;
  border: revert;
}

.items-list {
  ul.inner {
    margin: 0;
    padding: 0 0 5px 0;
  
    &.items-hidden {
      padding: 0;

      li {
        display: none;
      }
    }
  }

  .move-toggle-used {
    margin-right: 5px;
  }
}

.translucent {
  opacity: 60%;
}

.combat-resources, .money {
  display: flex;
  font-size: 0.75rem;
  margin-bottom: 5px;
  gap: 5px;
  align-items: center;

  button {
    width: fit-content;
    line-height: 20px;
    font-size: 0.75rem;

    i.fa-plus {
      margin: 0;
    }
  }

  input {
    width: 80px;
  }
}


.action-count {
  display: flex;
  flex-direction: row;
  align-items: center;

  .input-group {
    margin: 0 5px;
  }

  input {
    width: 30px;
    text-align: right;
  }
}

.clash-evade {
  display: flex;
  gap: 2px;
}
