<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{#if owned}}
      {{#unless system.attributes.maneuver}}
      <div class="form-group">
        <label class="resource-label">Learned?</label>
        <input type="checkbox" name="system.learned" {{checked system.learned}} data-dtype="Boolean">
        </select>
      </div>

      {{#unless system.learned}}
      <div class="form-group">
        <label class="resource-label">Learned at Rank</label>
        <select name="system.rank" value="{{system.rank}}" data-dtype="String">
          {{selectOptions ranks selected=system.rank}}
        </select>
      </div>
      {{/unless}}
      
      <hr>
      {{/unless}}
      {{/if}}

      <div class="form-group">
        <label class="resource-label">Type</label>
        <select name="system.type" value="{{system.type}}" data-dtype="String">
          {{selectOptions types selected=system.type}}
        </select>
      </div>
      <div class="form-group">
        <label class="resource-label">Category</label>
        <select name="system.category" value="{{system.category}}" data-dtype="String">
          {{selectOptions categories selected=system.category}}
        </select>
      </div>
      <div class="form-group">
        <label class="resource-label">Target</label>
        <select name="system.target" value="{{system.target}}" data-dtype="String">
          {{selectOptions targets selected=system.target}}
        </select>
      </div>
      <div class="form-group">
        <label class="resource-label">Power</label>
        <input type="text" name="system.power" value="{{system.power}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label class="resource-label">Accuracy Modifier 1 (Attribute)</label>
        <input type="text" name="system.accMod1" value="{{system.accMod1}}" data-dtype="String">
      </div>
      <div class="form-group">
        <label class="resource-label">Accuracy Modifier 2 (Skill)</label>
        <input type="text" name="system.accMod2" value="{{system.accMod2}}" data-dtype="String">
      </div>
      <div class="form-group">
        <label class="resource-label">Damage Modifier</label>
        <input type="text" name="system.dmgMod" value="{{system.dmgMod}}" data-dtype="String">
      </div>
      <div class="form-group">
        <label class="resource-label">Added Effect</label>
        <textarea name="system.effect" data-dtype="String">{{system.effect}}</textarea>
      </div>

      <hr>

      <div class="form-group">
        <label class="resource-label">Accuracy Reduction</label>
        <input type="text" name="system.attributes.accuracyReduction" value="{{system.attributes.accuracyReduction}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label class="resource-label">Typeless Maneuver?</label>
        <input type="checkbox" name="system.attributes.maneuver" {{checked system.attributes.maneuver}} data-dtype="Boolean">
        </select>
      </div>
      <div class="form-group">
        <label class="resource-label">Never Fail?</label>
        <input type="checkbox" name="system.attributes.neverFail" {{checked system.attributes.neverFail}} data-dtype="Boolean">
        </select>
      </div>
      <div class="form-group">
        <label class="resource-label">Ignore Defenses?</label>
        <input type="checkbox" name="system.attributes.ignoreDefenses" {{checked system.attributes.ignoreDefenses}} data-dtype="Boolean">
        </select>
      </div>
      <div class="form-group">
        <label class="resource-label">Recoil?</label>
        <input type="checkbox" name="system.attributes.recoil" {{checked system.attributes.recoil}} data-dtype="Boolean">
        </select>
      </div>
      <div class="form-group">
        <label class="resource-label">Special move resisted with defense?</label>
        <input type="checkbox" name="system.attributes.resistedWithDefense" {{checked system.attributes.resistedWithDefense}} data-dtype="Boolean">
        </select>
      </div>

      <hr>

      {{!-- Heal --}}
      <h3>HP Heal</h3>

      <div class="form-group">
        <label class="resource-label">Heal Type</label>
        <select name="system.heal.type" value="{{system.heal.type}}" data-dtype="String">
          {{selectOptions healTypes selected=system.heal.type}}
        </select>
      </div>

      {{#if healEnabled}}
      {{#unless isLeechHeal}}
      <div class="form-group">
        <label class="resource-label">Target</label>
        <select name="system.heal.target" value="{{system.heal.target}}" data-dtype="String">
          {{selectOptions effectTargets selected=system.heal.target}}
        </select>
      </div>

      <div class="form-group">
        <label class="resource-label">Will Point Cost</label>
        <input type="text" name="system.heal.willPointCost" value="{{system.heal.willPointCost}}" data-dtype="Number"/>
      </div>
      {{/unless}}
      {{/if}}

      {{#if isCustomHeal}}
      <div class="form-group">
        <label class="resource-label">Healed HP</label>
        <input type="text" name="system.heal.amount" value="{{system.heal.amount}}" data-dtype="Number"/>
      </div>
      {{/if}}

      {{#if isLeechHeal}}
      <div class="form-group">
        <label class="resource-label">Leech Percentage (0.0 - 1.0)</label>
        <input type="text" name="system.heal.amount" value="{{system.heal.amount}}" data-dtype="Number" min="0" max="1"/>
      </div>
      {{/if}}

      <hr>

      <div class="form-group">
        <label class="resource-label">Source</label>
        <input type="text" name="system.source" value="{{system.source}}" data-dtype="String"/>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor descriptionHtml target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      <ol class="items-list effect-group-list">
        <li class="item flexrow items-header">
          <div class="item-name">Condition</div>
          <a class="effect-group-control effect-group-create" title="Create group" data-type="item"><i class="fas fa-plus"></i> Add Group</a>
        </li>
        {{#each system.effectGroups as |group index|}}
          <li class="item flexrow">

            <ol class="items-list effect-list">
              <li class="item flexrow items-header">
                <div class="item-prop flexrow condition-wrapper">
                  {{#if group.condition.amount}}
                    <input title="Number of chance dice" type="text" class="small-input effect-group-condition-amount" value="{{group.condition.amount}}" data-dtype="Number" data-index="{{index}}"/>
                  {{/if}}

                  <select title="Condition type" class="effect-group-condition" value="{{group.condition.type}}" data-index="{{index}}">
                    {{selectOptions ../effectGroupConditions selected=group.condition.type}}
                  </select>
                </div>
                <div class="item-controls">
                  <a class="item-control effect-group-add-effect" title="Add Effect to Group" data-index="{{index}}"><i class="fas fa-add"></i> Effect</a>
                  <a class="item-control effect-group-delete" title="Delete Group" data-index="{{index}}"><i class="fas fa-trash"></i></a>
                </div>
              </li>

              {{#each group.effects as |effect effectIndex|}}
                <li class="item flexrow effect-item">
                  <select title="Type" class="effect-type" value="{{effect.type}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                    {{selectOptions ../../moveEffects selected=effect.type}}
                  </select>
                  {{#if effect.ailment}}
                  <select title="Inflicted ailment" class="effect-ailment" value="{{effect.ailment}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                    {{selectOptions ../../effectAilments selected=effect.ailment}}
                  </select>
                  {{/if}}
                  {{#if effect.stat}}
                  <select title="Affected stat" class="effect-stat" value="{{effect.type}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                    {{selectOptions ../../effectStats selected=effect.stat}}
                  </select>
                  <span title="Stat increase/decrease stages" class="label-wrapper">
                    <label class="effect-amount-label">Stages:</label>
                    <input type="text" class="effect-amount small-input" value="{{effect.amount}}" data-dtype="Number" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}"/>
                  </span>
                  {{/if}}
                  <select title="Affected targets" class="effect-affects" value="{{effect.affects}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                    {{selectOptions ../../effectAffects selected=effect.affects}}
                  </select>
                  <div class="item-controls">
                    <a class="item-control delete-effect" title="Delete Effect" data-group-index="{{index}}" data-effect-index="{{effectIndex}}"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
              {{/each}}

            </ol>

          </li>
        {{/each}}
      </ol>      
    </div>

  </section>
</form>
